In [7]:
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import requests

In [1]:
def criaUrl(ano):
    a = str(ano)
    url = "https://pt.wikipedia.org/wiki/Campeonato_Brasileiro_de_Futebol_de_"+a
    url = "https://pt.wikipedia.org/wiki/Campeonato_Brasileiro_de_Futebol_de_1968_(Torneio_Roberto_Gomes_Pedrosa)"
    return url

In [2]:
def montarTabela(url):
    r = requests.get(url)
    content = r.content
    soup = BeautifulSoup(content, 'html.parser')
    table = soup.find_all(name='table')
    return table

In [3]:
def acharTabela(table):
    table_str = str(table)
    for i in range(len(pd.read_html(table_str))):
        if(len(pd.read_html(table_str)[i])>=28):
            df = pd.read_html(table_str)[i]
            if(df.columns[0]=="Pos." or df.columns[0]=="Pos"):
                break
    return df

In [4]:
def acharTabelaAlt(table,x):
    table_str = str(table)
    df = pd.read_html(table_str)[x]
    return df

In [5]:
def preencherAno(df,ano):
    lista = []
    for i in range(len(df)):
        lista.append(ano)
    df['Ano'] = lista

In [13]:
ano = 1968
url = criaUrl(ano)
table = montarTabela(url)
df = acharTabelaAlt(table,4)

In [14]:
preencherAno(df,ano)

In [15]:
df

  Pos        Equipes  Pts   J   V  E   D  GP  GC  SG   Ano
0  1º      Palmeiras   24  16   9  6   1  24   9  15  1968
1  2º  Internacional   20  16   7  6   3  20  15   5  1968
2  3º    Corinthians   20  16  10  0   6  23  20   3  1968
3  4º       Cruzeiro   17  16   6  5   5  22  18   4  1968
4  5º    Atlético/PR   17  16   6  5   5  28  25   3  1968
5  6º          Bangu   14  16   3  8   5  12  17  -5  1968
6  7º       Botafogo   13  16   4  5   7  17  22  -5  1968
7  8º       Flamengo   11  16   2  7   7  10  21 -11  1968
8  9º        Náutico    8  16   2  4  10  12  25 -13  1968

In [16]:
df2 = acharTabelaAlt(table,6)

In [17]:
preencherAno(df2,ano)

In [18]:
df2

  Pos      Equipes  Pts   J  V  E   D  GP  GC  SG   Ano
0  1º       Santos   22  16  9  4   3  37  18  19  1968
1  2º        Vasco   20  16  9  2   5  27  22   5  1968
2  3º       Grêmio   19  16  6  7   3  17  11   6  1968
3  4º  Atlético/MG   19  16  7  5   4  18  15   3  1968
4  5º    São Paulo   14  16  4  6   6  23  24  -1  1968
5  6º   Fluminense   13  16  6  1   9  19  23  -4  1968
6  7º   Portuguesa   11  16  3  5   8  18  29 -11  1968
7  8º        Bahia   10  16  4  2  10  14  27 -13  1968

In [19]:
result = pd.concat([df,df2])

In [26]:
result = result.sort_values(by=['Pts','V','SG','GP'], ascending=False)

In [28]:
result.to_csv('tabela'+str(ano)+'.csv')

In [36]:
df1968 = pd.read_csv('tabela1968.csv')